@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Poppins&display=swap');
        .box{
            background-color:white;
            font-family:'baloo bhai 2';
            line-height: 1.4;
            border: 1px solid grey;
            border-radius: 3%;
            width: 580px;
            height: 830px;
            margin: 30px;
            padding: 8px;
        }
   
        div > img{
            max-width: 100%;
            border-radius: 4%;
            margin-bottom: 15px;
        }

        p{
            color: rgb(96, 96, 96);
            margin-right: 7px;
            margin-left: 7px;
            text-align: center;
        }
        h2{
            font-size: 29px;
            margin-bottom: 1px;
            text-align: center;
        }
        h3{
            font-size: 18px;
            text-align: center;
            margin-top: 1px;
            color: brown;
        }
        .det{
            margin-left: 30%;
            margin-right: 30%;
            text-align: center;
            font-size: 17px;
            line-height: 25px;
        }
        a{
            text-decoration: none;
            color: brown;
        }